{% load customTags %}

<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="Content-Language" content="pt-br" />
<meta name="viewport" 				content="width=device-width, initial-scale=1" /> 
<meta name="keywords" 				content="{% meta_tag 'keywords' %}" />
<meta name="author" 				content="{% meta_tag 'author' %}" />
<meta name="description" 			content="{% meta_tag 'description' %}" />

<!-- Open Graph -->
<meta property="og:title"       	content="{% meta_tag 'title' %}" />
<meta property="og:description" 	content="{% meta_tag 'description' %}" />
<meta property="og:image" 			content="{% meta_tag 'img_url' }}">
<meta property="og:image:type" 		content="{% meta_tag 'img_type' %}" />
<meta property="og:image:width" 	content="{% meta_tag 'img_width' %}" />
<meta property="og:image:height" 	content="{% meta_tag 'img_height' %}" />
<meta property="og:url" 			content="{% meta_tag 'web_url' %}" />
<meta property="og:locale" 			content="{% meta_tag 'html_lang' %}" />
<meta property="og:site_name" 		content="{% meta_tag 'title' %}" />

<!-- Itemprop -->
<meta itemprop="name" 				content="{% meta_tag 'title' %}" />
<meta itemprop="author" 			content="{% meta_tag 'author' %}" />
<meta itemprop="url" 				content="{% meta_tag 'web_url' %}" />
<meta itemprop="keywords" 			content="{% meta_tag 'keywords' %}" />
<meta itemprop="image" 				content="{% meta_tag 'img_url' %}" />
